<div id="latest-blog">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading-section">
                <h2 style="float:left">Featured Challenges</h2>
                <button type="button" style="margin-left:610px;margin-top:20px" class="btn btn-warning">View all challenges</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="blog-post">
                <div class="blog-thumb">
                    <img src="images/sg_idea_1.png" alt="" style="width:365px;height:250px" />
                </div>
                <div class="blog-content">
                    <div class="content-show">
                        <h4><a href="#">Cool Ideas for HDB</a></h4>
                        <span>Organised by HDB</span>
                        <button type="button" class="btn btn-warning ongoing">On Going</button>
                    </div>
                    <div class="content-hide">
                        <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                    </div>
                    <div>
                        <span>$1500</span>
                        <div>total price</div>
                    </div>
                    <div class="progress">
                      <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" style="width:60%">
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="blog-post">
                <div class="blog-thumb">
                    <img src="images/sg_idea_2.png" alt="" style="width:365px;height:250px" />
                </div>
                <div class="blog-content">
                    <div class="content-show">
                        <h4><a href="#">Singapore Environment Story</a></h4>
                        <span>Organised by NEA</span>
                        <button type="button" class="btn btn-warning ongoing">On Going</button>
                    </div>
                    <div class="content-hide">
                        <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                    </div>
                    <div>
                        <span>$1500</span>
                        <div>total price</div>
                    </div>
                    <div class="progress">
                      <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" style="width:60%">
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="blog-post">
                <div class="blog-thumb">
                    <img src="images/sg_idea_3.png" alt="" style="width:365px;height:250px"/>
                </div>
                <div class="blog-content">
                    <div class="content-show">
                        <h4><a href="#">Good Neighbours</a></h4>
                        <span>Organised by HDB</span>
                        <button type="button" class="btn btn-warning ongoing">On Going</button>
                    </div>
                    <div class="content-hide">
                        <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                    </div>
                    <div>
                        <span>$1500</span>
                        <div>total price</div>
                    </div>
                    <div class="progress">
                      <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" style="width:60%">
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div id="services" style="margin-top:20px">
    <div class="funfacts-container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section" style="float:left">
                    <h2>Vote for your favourite Ideas!</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content" style="margin-top:-20px;margin-left:-30px"></div>
<div id="services">
  <div class="funfacts-container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading-section">
                <h2>Some fun facts</h2>
                <img src="images/under-heading.png" alt=""/>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
          <div class="service-item">
              <div class="icon">
                  <i class="fa fa-clock-o"></i>
              </div>
              <h4>3200</h4>
              <p>IDEAS SUBMITTED</p>
          </div>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="service-item">
              <div class="icon">
                  <i class="fa fa-group"></i>
              </div>
              <h4>360</h4>
              <p>CONTRIBUTERS</p>
          </div>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="service-item">
              <div class="icon">
                  <i class="fa fa-rocket"></i>
              </div>
              <h4>120</h4>
              <p>COMPLETED CHALLANGES</p>
          </div>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="service-item">
              <div class="icon">
                  <i class="fa fa-gift"></i>
              </div>
              <h4>450</h4>
              <p>AWARDS WON</p>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="how-it-works"><img src="/images/Idea_works.png" alt="" ></div>
